/* Text Field */
/*noinspection ALL*/
.text-field {
    -fx-background-radius: 4;
    -fx-background-color: #EFEDF0;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-border-width: 0 0 2 0;
}

/*noinspection ALL*/
.text-field:hover {
    -fx-background-color: #F0F0F0;
}

/*noinspection ALL*/
.text-field:focused {
    -fx-border-color: #0067C0;
    -fx-background-color: #F0F0F0;
}


/* Button */
.button {
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-background-color: #EFEDF0;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #e3e1e4;
}

.button:focused {
    -fx-border-color: #90CBFF;
}


/* Fab Buttons */
#info-btn, #home-btn, #rename-btn, #resize-btn, #undo-btn, #redo-btn, #clear-btn,
#export-btn, #text-increase-btn, #text-decrease-btn,
#brush-btn, #eraser-btn, #text-btn, #circle-btn, #square-btn {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24 24;
    -fx-background-position: center center;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-min-width: 36;
    -fx-min-height: 36;
}

#info-btn {
    -fx-background-image: url("/images/info.png");
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#home-btn {
    -fx-background-image: url("/images/home.png");
}

#resize-btn {
    -fx-background-image: url("/images/resize.png");
}

#clear-btn {
    -fx-background-image: url("/images/clear.png");
}

#undo-btn {
    -fx-background-image: url("/images/undo.png");
}

#redo-btn {
    -fx-background-image: url("/images/redo.png");
}

#export-btn {
    -fx-background-image: url("/images/export.png");
}

#text-increase-btn {
    -fx-background-image: url("/images/increase.png");
}

#text-decrease-btn {
    -fx-background-image: url("/images/decrease.png");
}

#brush-btn {
    -fx-background-image: url("/images/brush.png");
}

#eraser-btn {
    -fx-background-image: url("/images/eraser.png");
}

#text-btn {
    -fx-background-image: url("/images/text.png");
}

#circle-btn {
    -fx-background-image: url("/images/circle.png");
}

#square-btn {
    -fx-background-image: url("/images/square.png");
}


/* Delete Button */
#delete {
    -fx-background-image: url("/images/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24 24;
    -fx-background-position: center center;
    -fx-background-color: #fff;
}

#delete:hover {
    -fx-background-color: #FFDDE0;
}


/* Project Button */
#project {
    -fx-background-color: #e3e1e4;
}

#project:hover {
    -fx-background-color: #d8d6d8;
}


/* Blue Button */
#primary-btn {
    -fx-background-color: #0067C0;
    -fx-min-width: 160;
    -fx-min-height: 50;
}

#primary-btn:hover {
    -fx-background-color: #0056A0;
}


/* ScrollPane */
/*noinspection ALL*/
.scroll-pane {
    -fx-background-color: #EFEDF0;
    -fx-background: #EFEDF0;
}

/*noinspection ALL*/
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/*noinspection ALL*/
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*noinspection ALL*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/*noinspection ALL*/
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5em;
}

/*noinspection ALL*/
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #AAA;
}

/*noinspection ALL*/
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #999;
}

/*noinspection ALL*/
.scroll-pane > .corner {
    -fx-background-color: #EFEDF0;
}


/* Radio Buttons */
/*noinspection ALL*/
.radio-button {
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-background-radius: 4;
    -fx-padding: 3 10 3 5;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 4;
    -fx-border-color: transparent;
}

/*noinspection ALL*/
.radio-button:hover {
    -fx-background-color: #e3e1e4;
}

/*noinspection ALL*/
.radio-button:selected {
    -fx-background-color: #e3e1e4;
    -fx-border-color: #0067C0;
    -fx-background-insets: 0;
}

/*noinspection ALL*/
.radio-button:pressed{
    -fx-border-color: #90CBFF;
}

/*noinspection ALL*/
.radio-button .dot,
.radio-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em;
}


/* Combo Box + Color Picker */
/*noinspection ALL*/
.combo-box, .color-picker {
    -fx-text-fill: #222;
    -fx-background-color: #EFEDF0;
    -fx-background-radius: 4;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-border-width: 0 0 2 0;
}

/*noinspection ALL*/
.combo-box:hover, .color-picker:hover,
.combo-box:hover .list-cell:selected{
    -fx-background-color: #F0F0F0;
}

/*noinspection ALL*/
.combo-box:focused, .color-picker:focused {
    -fx-border-color: #0067C0;
    -fx-background-color: #F0F0F0;
}

/*noinspection ALL*/
.combo-box .list-view {
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

/*noinspection ALL*/
.combo-box .list-cell {
    -fx-background-color: #fff;
}

/*noinspection ALL*/
.combo-box .list-cell:hover {
    -fx-text-fill: #222;
    -fx-background-color: #ccc;
}

/*noinspection ALL*/
.combo-box .list-cell:selected{
    -fx-text-fill: #222;
    -fx-background-color: #EFEDF0;
}

/*noinspection ALL*/
.color-palette,
.color-picker-grid {
    -fx-background-color: #fff;
}

/*noinspection ALL*/
.color-palette {
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}


/* Check Box */
/*noinspection ALL*/
.check-box .box {
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-color: transparent;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-background-color: #ccc;
}

/*noinspection ALL*/
.check-box:focused .box {
    -fx-border-color: #90CBFF;
}

/*noinspection ALL*/
.check-box:hover .box {
    -fx-background-color: #aaa;
}

/*noinspection ALL*/
.check-box:selected .mark {
    -fx-background-color: #fff;
}

/*noinspection ALL*/
.check-box:selected .box {
    -fx-background-color: #0067C0;
}


/* TOOLTIP */

/*noinspection ALL*/
.tooltip {
    -fx-show-delay: 30ms;
}